[Desktop Entry]
Name=Tourbillon
Encoding=UTF-8
Version=0.1
Type=Application
Terminal=false
Exec=/usr/bin/python3 /usr/bin/tourbillon.py %u
GenericName=Tourbillon
Icon=/usr/share/icons/tourbillon/tourbillon.png
Categories=GTK;GNOME;Utility
X-DBUS-ServiceName=tourbillon
X-Purism-FormFactor=Workstation;Mobile;
StartupNotify=true
